*{
  box-sizing: border-box;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pdflowerset16-gloy-03-leaves.png?auto=&bg=transparent&con=3&cs=srgb&dpr=1&fm=png&ixlib=php-3.1.0&mark=rawpixel-watermark.png&markalpha=90&markpad=13&markscale=10&markx=25&q=75&usm=15&vib=3&w=1200&s=22066eda8f50c01f8572956aac48881d');
  background-repeat: no-repeat;
}


.container{
  width: 500px;
  height: 500px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 33% 33% 33%;
  grid-auto-rows: 33% 33% 33%;
}
.cell{
  position: relative;
  background-color: #ecf0f1;
  cursor: pointer;
}
.cell::before{
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 8rem;
}
.cell.x::before{
  content: "X";
}
.cell.o::before{
  content: "O";
}
.winner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 400px;
  height: 200px;
  padding: 20px 40px;
  background-color: #fff;
  font-size: 2rem;
  border-radius: 20px;
  text-align: center;
  animation: animate .5s linear;
}
@keyframes animate{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.winner button{
  margin-top: 20px;
  width: 80px;
  height: 35px;
  line-height: 35px;
  padding: 0;
  border: 0;
  outline: 0;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
  background-color: green;
}